.dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://www.koweb.fr/user/pages/04.blog/premiers-pas-avec-trello-pour-mieux-collaborer/exemple-tableau-trello.jpg?g-ae833365') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 1s ease-in-out;
  filter: blur(3px);
}

.dashboard-cache{
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
}

.dashboard-container.blurred {
  filter: blur(5px);
  
}

.subscription-popup {
  filter: blur(0px);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(12, 1, 72, 0.1);
  z-index: 1;
  text-align: center;
  height: 646px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.subscription-popup.show {
  opacity: 1;
}

.subscription-popup.hidden {
  display: none;
}

.subscription-popup .logo{
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  width: 4rem;
}

.subscription-popup .board{
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-weight: 500;
  margin: 0;
  color: #93939c;
}

.subscription-popup h1 {
  margin-top: 0;
  font-size: 2em;
  margin-bottom: .0rem;
  color: rgb(9, 30, 66);
}

.subscription-popup h3{
  margin-bottom: 2.5rem;
  color:rgb(9, 30, 66);
  font-weight: 500;
}

.plans {
  display: flex;
  justify-content: space-between;
  border: solid 1px #dfdede;
  border-right: solid 0px #dfdede;
}

.plan {
  height: 400px;
  padding: 2rem 2.1rem;
  border-right: solid 1px #dfdede;
  width: 48%;
  position: relative;
  text-align: left;
  transition: transform 0.2s ease;
}

.plan ul {
  flex-direction: column;
  align-items: start;
  list-style: none;
}

.plan li {
  text-align: left;
  margin-bottom: .85rem;
  font-size: .85rem;
  margin-left: 1.75rem;
  position: relative;
}

.plan li::before{
  background: url('../public/li-style.png') no-repeat center;
  background-size: 100%;
  content: '';
  width: 14px;
  height: 12px;
  left: -1.5rem; 
  top: .2rem;
  margin-right: .5rem;
  position: absolute;
}

.plan.star p {
  color: #0C66E4;
}

.plan h3 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: .85em;
  color: rgb(80, 95, 121);
  font-weight: 600;
}

.plan p {
  margin: 1rem 0 1.5rem 0;
  font-size: 2em;
  font-weight: 600;
  color: rgb(9, 30, 66);
}

.plan .month {
  font-size: 1rem;
  color: rgb(80, 95, 121);
  font-weight: 400;
  font-size: .85rem;
}

.plan button {
  position: absolute;
  left: 1.95rem;
  bottom: 2rem;
  width: auto;
  font-size: .85rem;
  font-weight: 500;
  transition: color 0.5s ease, background 0.5s ease;
}

.plan button.agence{
  cursor: not-allowed !important;
}

.plan .notice {
  font-size: .75rem;
  color: #adadb7;
  position: absolute;
  bottom: -2rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.popup.show {
  opacity: 1;
  transform: translateY(0);
}

.popup-content {
  background: white;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(12, 1, 72, 0.1);
  display: flex;
  flex-direction: row;
  width: auto;
  width: 370px;
  position: relative;
}


.payment-details, .payment-form {
  flex: 1;
  position: relative;
}

.payment-details h3{
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.buy {
  margin-top: .5rem;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
  border-radius: 3px;
  width: 100%;
}

.trial-notice{
  font-size: .75rem;
  color: #adadb7;
  margin-top: 1.5rem;
  text-align: center;
  line-height: 1.3;
}

.buy-notice{
  font-size: .75rem;
  color: #adadb7;
  text-align: center;
  line-height: 1.3;
  margin-top: 1.25rem;
}

.buy-notice a{
  color: #313131;
}

.buy-notice a:hover{
  color: #111;
  text-decoration: underline;
  cursor: pointer;
}


.popup-content .return{
    position: absolute;
    top: .5rem;
    left: .37rem;
    background-color: transparent;
    color: #262626;
    /*border: solid 1px black;*/
    padding: 0;
    height: 40px;
    width: 40px;
    font-size: .85rem;
    border-radius: 3px;
}

.popup-content span {
  color: #93939c;
  line-height: 1rem;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.plan-form-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-form-vertical .form-field {
  margin-bottom: 15px;
  width: 100%;
}

.plan-form-vertical button {
  width: 100%;
}

/* Apply styles from welcome.css */
.payment-details label {
  margin-bottom: .5rem;
  font-size: 14px;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}

.payment-details input {
  margin-top: .25rem;
  width: 100%;
  padding: 0.85rem 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(15, 24, 74, 0.16) 0px 0px 0px 1px, rgba(15, 24, 74, 0.08) 0px 2px 5px 0px;
  border: 0px;
  border-radius: 3px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(8, 17, 68);
  caret-color: rgb(8, 17, 68);
  font-weight: 500;
  line-height: 0;
}

.payment-details input:focus {
 box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px,
  rgba(15, 24, 74, 0.16) 0px 0px 0px 1px;
}

.payment-details input::placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

.payment-details input[name="cardHolder"] {
    width: 100%;
  }
  
  .payment-details input[name="cardNumber"] {
    width: 100%;
  }
  
  .payment-details .form-group {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-details .form-group > div {
    flex: 1;
  }
  
  .payment-details .form-group > div:first-child {
    margin-right: 10px;
  }     

  .payment-details form div{
    width: 100%;
  }

  .payment-details form *:nth-child(3){
    margin-top: 2rem;
  }

  .card-number{
    background: url('/card-badges.png');
    background-size: auto 38%;
    background-position: 94%;
    background-repeat: no-repeat;
  }


  .d-secure{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    height: auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
  }

  .d-secure.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .d-secure .verified {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    width: 60px;
  }

  .d-secure .trello{
    position: absolute;
    right: 2rem;
    top: 1.55rem;
    width: 70px;
  }

  .d-secure hr{
    width: 100%;
    margin: .5rem 0 1.25rem 0;
    border:none;
    border-bottom: solid .5px #e4e4e4;
  }

  .d-secure p{
    margin-bottom: 1rem;
    line-height: 1.4;
    margin-top: 0.5rem;
    font-size: .9rem;
  }

  .d-secure span{
    font-size: .75rem;
    color: #adadb7;
    margin: 0rem 0 .75rem 0;
    text-align: center;
    line-height: 1.3;
  }

  .d-secure *:nth-child(5){
    margin-bottom: 1.5rem;
    font-size: .85rem;
  }

  .d-secure h3{ 
    margin: 0 0 .0rem 0;
    font-weight: 600;
    color:rgb(23, 43, 77);
    font-size: 1rem;
  }

  .retry-btn{
    margin-top: .25rem;
  }

  .retry-btn:hover{
    background: #2388ff;
  }


  .code-btn {
    margin-bottom: 0rem !important;
    margin-top: 1.25rem !important;
    color: #262626 !important;
    cursor: pointer;
    text-decoration: underline;
  }

  .code-btn:hover {
    color: #111 !important;
  }

  .code-form{
    display: flex;
    margin-top: 1rem;
    scale: .85;
  }

  .code-form input{
    padding: .5rem .75rem;
    margin-right: .5rem;
    border: solid 1px #c1c1c1;
    border-radius: 5px;
    padding: .5rem .75rem;
    margin-bottom: 0;
  }


  span.notpayment{
    background-color: #f6f6f6;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem 0 0 0;
  }

  /* STRIPE FORM STYLES */
  /* STRIPE FORM STYLES */
  .stripe-form-test{
    width: 400px !important;
    height: auto;
    overflow: hidden;
    margin-top: 0;
  }

  .stripe-form-test iframe {
    width: 102% !important;
  }

  .stripe-form {
    height: 370px;
    overflow: hidden;
    margin-top: 1.75rem;
  }


  .stripe-form iframe{
    position: relative;
    top: -194px;
    min-width: 109% !important;
    left: -4.5%;
  }

    

  







  @media (max-width: 1024px) {
    .subscription-popup {
      width: 90%;
      height: auto;
      padding: 1.5rem;
      top: 65%;
    }
    
    .subscription-popup h2{
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .plans {
      flex-direction: column;
      width: auto;
      max-width: 100%;
    }

    .plan{
      width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
    }


    .plan button{
      position: static;
      width: 100%;
      margin-bottom: 1rem;
    }
    .plan .notice{
      position: static;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
    }

    .popup-content{
      padding: 2rem;
      width: 90%;
    }

    .payment-details .return{
      top: -2rem;
      left: -2.2rem;
    }
  }